Gerald Felipe, INST 447, Programming Assignment 1

Imports

In [1]:
import pandas as pd
import numpy as np

Reading the files.

In [2]:
df1 = pd.read_csv("2011_Performance_Benchmarking.csv")
df2 = pd.read_csv("2012_Performance_Benchmarking.csv")

Cleaning

In [3]:
df1.columns = df1.columns.str.replace(' ', '')
df2.columns = df2.columns.str.replace(' ', '')

1. (PART 1) Concatenate the two data-frames (0.5 point)

In [4]:
concat_df = pd.concat([df1, df2], axis=0, ignore_index=True)

1. (PART 2) Report the total number of rows and columns (0.5 Points)

In [5]:
concat_df.shape

(796, 17)

2. Convert the reported gross floor area to numeric (3 points)

In [6]:
#concat_df.info()
concat_df['_Reported_Building_Gross_Floor_Area_ft_'] = concat_df['_Reported_Building_Gross_Floor_Area_ft_'].str.replace(',', '').apply(pd.to_numeric)

3. (CODE) Report the following summary statistics(mean, min, max, std, and quantiles) for the reported gross floor area based on the primary property type in a table and round the values to 2 decimal places using the round( ) function before printing the table.

In [7]:
concat_df['_Reported_Building_Gross_Floor_Area_ft_'].groupby(concat_df['Primary_Property_Type']).describe().round(2)

,count,mean,std,min,25%,50%,75%,max
Primary_Property_Type,,,,,,,,
College/University,42.0,686313.98,958926.88,150176.0,211231.25,290321.0,420653.00,3543436.0
Hotel,45.0,481041.96,339280.91,159857.0,260566.00,306123.0,643725.00,1600000.0
Multifamily Housing,183.0,340482.32,194628.49,154532.0,218574.50,267750.0,387450.00,988819.0
Office,526.0,363385.55,235961.32,150161.0,221724.25,303706.5,417319.75,2000000.0

3. (QUESTION) Talk about any interesting patterns/biases that you see from this table

One interesting thing that I see from this table is that even though office has the highest count, it doesn't have the highest max or mean. I think a bias in this data set is that the spread of the data for each property type is far, to get more acccurate data the count for each property type could be close.

4. (CODE) Create a pivot table that summarizes the average (mean) total greenhouse gas emissions (GHG) for 2011 and 2012 based on the primary property type. (3 points)

In [8]:
pivot_table1 = pd.pivot_table(concat_df, values=['Total_GHG_Emissions_MtCO2e'], index=['Primary_Property_Type', 'Year'],
                       aggfunc={'Total_GHG_Emissions_MtCO2e': np.mean})

print(pivot_table1)

                            Total_GHG_Emissions_MtCO2e
Primary_Property_Type Year
College/University    2011                 8743.610588
                      2012                 6100.068800
Hotel                 2011                 4866.587000
                      2012                 4510.186800
Multifamily Housing   2011                 1412.858000
                      2012                 1188.852920
Office                2011                 3158.135695
                      2012                 3479.469505

4. (QUESTION 1) From the table created above, which property type has the highest and lowest average GHG emissions across both the years?  (1 point)

From the table created above, we can see that the multifamily housing property type has both the highest and lowest average GHG emissions across both years in 2011 and 2012.

4. (QUESTION 2) Do you see a reduction in GHG emissions between the two years on average as a result of this program from the DOEE? (1 point)

Judging by the table we can see that three of the four property types are seeing a reduction in GHG emissions on average as a result of this program from the DOEE.

5. Create a new variable called 'Property_Age' with three categories based on the property's year of construction (Note: do not convert year built to datetime, use the variable as it is). The Three categories that you must create and their binning constraints are as follows :
Ancient: Property built between 1864 - 1965
Old: Property built between 1965 - 1996
Relatively new: Property built between 1996 â€“ 2011
        (3 points)

In [9]:
concat_df['Property_Age']=pd.cut(concat_df['Year_Built'], bins=[1864,1965,1996,2011],labels=['Ancient','Old','new'])
concat_df.head()

,DC_Real_Property_ID,Address_of_Record,Owner_of_Record,Ward,Year,Property_Name,Address_1,Postal_Code,Primary_Property_Type,Year_Built,_Reported_Building_Gross_Floor_Area_ft_,Site_EUI_kBtu/ft,Weather_Normalized_Source_EUI_kBtu/ft,ENERGY_STAR_Score,Total_GHG_Emissions_MtCO2e,Electricity_Use_-_Grid_Purchase_and_Onsite_kWh,Natural_Gas_Use_therms,Property_Age
0,80806,2500 VIRGINIA AV NW,WATERGATE EAST INC,2,2011,"Watergate East, Inc.","2500 Virginia Avenue, N.W.",20037,Multifamily Housing,1966.0,400000,28.2,94.0,0.0,1594.09,3295396.0,NaN,Old
1,80808,2600 VIRGINIA AV NW,GREENPENZ 2600 VIRGINIA AVENUE LLC,2,2011,Watergate Building,2600 Virginia Avenue,20037,Office,1963.0,217716,0.0,NaN,0.0,0.00,NaN,NaN,Ancient
2,80811,0600 NEW HAMPSHIRE AV NW,WATERGATE HOLDINGS I LLC,2,2011,0600 New Hampshire Avenue NW (Watergate),600 New Hampshire Ave NW,20037,Office,1972.0,266215,0.0,NaN,0.0,0.00,NaN,NaN,Old
3,140068,2550 M ST NW,CARR CRHP DC/VA PROPERTIES LLC,2,2011,Westbridge Office Building,2550 M Street NW,20037,Office,1978.0,208325,67.1,226.4,81.0,1980.52,4099016.5,NaN,Old
4,240112,1250 24TH ST NW,WORLD WILDLIFE FUND INC,2,2011,WWF,"1250 24th Street, NW",20037,Office,1985.0,331053,68.1,213.7,82.0,2222.60,5143987.0,NaN,Old

6. Report the number of properties under each of the three categories of property ages that you created to answer the previous question (1 point)

In [10]:
concat_df['Property_Age'].value_counts()

Old        397
Ancient    199
new        197
Name: Property_Age, dtype: int64

7. Create a new dataset that contains information for wards 2 and 3 and report the average energy star score for each of the property types (3 points)

In [12]:
dataset = concat_df[(concat_df['Ward']==2) | (concat_df['Ward']==3)]

pivot_table2 = pd.pivot_table(dataset, values=['ENERGY_STAR_Score'], index=['Primary_Property_Type', 'Ward'],
                       aggfunc={'ENERGY_STAR_Score': np.mean})

print(pivot_table2)

                            ENERGY_STAR_Score
Primary_Property_Type Ward
College/University    2             33.636364
                      3             38.200000
Hotel                 2             39.571429
                      3             32.250000
Multifamily Housing   2              0.000000
                      3              0.000000
Office                2             60.453333
                      3             53.187500